.history-page {
    background-color: #FFC2BF;
    min-height: 100vh;
    // position: relative;
    .month_module{
        background-color: #FFC2BF;
        .logo-bar {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            // margin: 60rpx 0 40rpx 0;
            padding: 100rpx 0 120rpx 0;
            background-color: #FF898E;
        
            .logo {
              width: 82rpx;
              height: 82rpx;
              margin-bottom: 10rpx;
            }
        
            .title {
              font-size: 32rpx;
              color: #fff;
              margin-top: 10rpx;
            }
        }
        
        .history_month {
            position: absolute;
            top: 300rpx;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            background-color: #fff;
            border-radius: 30rpx;
            box-shadow: 0 8rpx 16rpx rgba(0, 0, 0, 0.08);
            overflow: hidden;
            width: 80%;
            max-width: 600rpx;
          
            .year-box {
                background-color: #FFCFD3;
                padding: 25rpx 35rpx;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            
                .year-top{
                    font-size: 28rpx;
                    color: #fff;
                    font-weight: bold;
                    line-height: 1.6;
                }
            }
          
            .month-box {
                background-color: #FFF5F5;
                padding: 25rpx 50rpx;
                display: flex;
                flex-direction: column;
                justify-content: center;
            
                .month-en {
                    font-size: 32rpx;
                    font-weight: bold;
                    color: #FD6B84;
                }
            
                .month-cn {
                    font-size: 24rpx;
                    color: #FD99A8;
                    margin-top: 8rpx;
                }
            }
        }      

    }

      
      

    .empty {
        width: 70%;
        margin: 140rpx auto;
        display: grid;
        font-size: 24rpx;
        grid-template-rows: 1fr auto;
        justify-content: center;
        // background-color: #fff;
        background-color: #fbf5f5;
        padding: 7% 5%;
        border-radius: 30rpx;
        box-shadow: 0 8rpx 16rpx rgba(0, 0, 0, 0.08);
        .empty_img {
            width: 58vw;
            height: 28vh;
        }
        .empty_text {
            margin-top: 35rpx;
            color: #898989;
            text-align: center;
            line-height: 40rpx;
            Text {
                display: block;
            }
        }
    }
    
}