.history-page {
    background-color: #FFC2BF;
    min-height: 100vh;   

    .empty {
        width: 70%;
        margin: 140rpx auto;
        display: grid;
        font-size: 24rpx;
        grid-template-rows: 1fr auto;
        justify-content: center;
        // background-color: #fff;
        background-color: #fbf5f5;
        padding: 7% 5%;
        border-radius: 30rpx;
        box-shadow: 0 8rpx 16rpx rgba(0, 0, 0, 0.08);
        .empty_img {
            width: 58vw;
            height: 28vh;
        }
        .empty_text {
            margin-top: 35rpx;
            color: #898989;
            text-align: center;
            line-height: 40rpx;
            Text {
                display: block;
            }
        }
    }
    
}